@import url('https://fonts.googleapis.com/css2?family=Lalezar&family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --clr-white: #FFFFFF;
  --clr-black: #000000;
  --clr-grey: #707070;
  --clr-bunker: #131921;
  --clr-maroon: #BF6565;
  --clr-maroon-light: #DFA7AA;
  --clr-dark: #812F31;
  --clr-med: #BC5E5E;
  --clr-light: #FFC5C4;
}

body {
  margin: 0;
  font-family: "Open Sans";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h2 {
  max-width: 1200px;
  margin: 20px auto 0;

  font-size: 2.15em;
}

h2:not(.product__overview h2) {
  padding-left: 20px;
}

/* ------------------------------------------------------ */
/* -- NAVIGATION -- */

nav {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr 2fr 1fr auto  ;
  align-items:center;
  width: 1100px;
  margin-left: auto;
  margin-right: auto;
  

  background-color: var(--clr-white)
}


.nav__brand {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav__brand img {
  max-width: 125px;
  height: auto;
}

.nav__brand h1 {
  color: var(--clr-dark);
  font-family: "Herculanum";
  font-size: 3em;
  font-weight: 500;
}

.nav__links {
  background-color: var(--clr-white);
  grid-column: 1 / span 3;

  padding: 20px;

  display: flex;
  justify-content: center;
  align-items: center;

  list-style: none;
  scroll-behavior: smooth;
  font-weight: 100;
}

.nav__links li {
  margin: 0 25px;

}

.nav__links li a {
  text-decoration: none;
  color: var(--clr-dark);
  font-weight:700;
  font-size:1.1em;
  

}

.nav__links li a:hover {
  color: var(--clr-med);
}

.nav__search {
  padding: 10px;
  border-radius: 6px;
  min-width: 40%;
  outline: .1px solid var(--clr-light);
  ;
}

.nav__search:hover {
  outline: 1px solid var(--clr-med);
}

.nav__connect {
  width: 150px;
  height: 40px;
  margin: 0 auto;

  background-color: var(--clr-med);
  color: var(--clr-white);

  border: none;
  border-radius: 4px;

  font-family: "Lalezar";
  font-size: 1.25em;
  font-weight: 200;

  cursor: pointer;
  transition: all 250ms ease;
  margin-right: 10px;

}

.nav__connect:hover {
  background-color: var(--clr-light);
  color:var(--clr-dark);
}

.nav__network-dropdown {
  position: absolute;
 
  background-color: var(--clr-med);
  border-radius: 4px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  display: ${showNetworkDropdown ? 'block' : 'none'};
  z-index: 1; 
  align-content: center;
  color: #FFFFFF;
  font-weight: 700;
  font-size: 1em;
  text-align: center;
  font-family:"Lalezar";
  
  width: 150px;
  height: 40px;
  font-size: 1.25em;
  font-weight: 200;
}

.nav__network-dropdown select {
  width: 150px;
  height: 40px;
  padding: 8px;
  background-color: transparent;
  border: none;
  border-radius: 4px;
  color: var(--clr-white);
  font-family: "Lalezar";
  font-size: 1em;
  font-weight: 200;
  cursor: pointer;
  appearance: none; /* Hide default arrow */
  outline: none;
  z-index: 1; /* Ensure the dropdown appears above other elements */
}

.nav__network-dropdown::before {
  content: '';
  position: absolute;
  top: -10px;
  right: 15px;
  border-width: 0 10px 10px;
  border-style: solid;
  border-color: transparent transparent var(--clr-med) transparent;
}

.nav__network-dropdown select option {
  background-color: var(--clr-med);
  color: var(--clr-white);
  font-family: "Lalezar";
  font-size: 1em;
  font-weight: 200;
}

.nav__network-dropdown select option:hover {
  background-color: var(--clr-light);
  color: var(--clr-med);
}


/* ------------------------------------------------------ */
/* -- Header -- */
.header img {
   margin-top: 25px;
   max-width: 100%;
  height:300;
  width:1150px;
  object-fit: cover;
  align-items: center;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* ------------------------------------------------------ */
/* -- CARDS -- */

.cards__section {
  max-width: 1200px;
  margin: 0 auto 50px;
  padding: 0 20px;
}

.cards__section h3 {
  font-size: 1.75em;
  margin: 20px 0;
  color:var(--clr-dark);
}

.cards {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 20px;
}

.card {
  width: 300px;
  height: 450px;

  margin: 10px auto;

  cursor: pointer;
  position: relative;

  transition: all 250ms ease;
  box-shadow: 0 0 2px var(--clr-grey);
}

.card:hover {
  box-shadow: 0 0 5px var(--clr-grey);
}

.card__image {
  position: absolute;
  width: 100%;
  z-index: -1;

 


}

.card__image img {
  max-width: 100%;
  width:300px ;
  height:350px ;
  object-fit: cover;
}

.card__info {
  width: 100%;

  background-color: var(--clr-white);

  padding: 5px 10px;

  position: absolute;
  bottom: 0;
  left: 0;
}

.card__info h4 {
  font-family: "Open Sans";
  font-size: 1.25em;
  font-weight: 400;
}

.card__info .rating {
  color: yellow;
  margin: 5px 0;
}

.card__info p {
  font-family: "Open Sans";
  font-size: 0.95em;
  font-weight: 600;
  margin-top: 5px;
}


/* ------------------------------------------------------ */
/* -- PRODUCT -- */

.product {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.product__details {
  border-radius: 10px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 250px), 1fr));
  align-items: center;

  width: 80%;
  height: 80%;
  margin: 0 auto;
  padding: 20px;

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;

  background: var(--clr-white);
}

.product__image {
  max-width: 500px;
  margin: 20px auto;
}

.product__image img {
  max-width: 100%;
  height: 90%;
  width:360px;

}

.product__close {
  position: absolute;
  top: 10px;
  right: 10px;

  width: 30px;
  height: 30px;

  background: transparent;
  border: none;

  cursor: pointer;
}

.product__close img {
  width: 25px;
  height: 25px;
}

.product__overview {
  height: 90%;
  padding: 20px 40px 20px 20px;
}

.product__overview h2,
.product__overview hr,
.product__overview .rating {
  margin: 10px auto;
}

.product__overview ul {
  margin-left: 40px;
}

.product__order {
  max-width: 300px;
  height: 90%;

  border: 1px solid var(--clr-grey);
  padding: 20px;
}

.product__order h1,
.product__order p {
  margin-bottom: 10px;
}

.product__buy {
  width: 225px;
  height: 40px;
  margin: 20px 0;

  background-color: var(--clr-maroon);
  color: var(--clr-black);

  border: none;
  border-radius: 24px;

  font-family: "Open Sans";
  font-size: 0.95em;
  font-weight: 600;
  color: #FFFFFF ;

  cursor: pointer;
  transition: all 250ms ease;
}

.product__buy:hover {
  background-color: var(--clr-maroon-light);
}

.product__bought {
  padding: 5px;
  border: 1px solid var(--clr-grey);
}

@media screen and (max-width: 992px) {
  .product__details {
    height: 95%;
    width: 90%;
  }

  .product__order {
    max-width: 100%;
    height: 100%;
    margin-top: 20px;
    grid-column: span 2;
  }
}

@media screen and (max-width: 768px) {
  nav {
    grid-template-columns: repeat(2, 1fr);
  }

  .nav__links {
    display: none;
  }

  .nav__search {
    display: none;
  }
}

@media screen and (max-width: 576px) {
  .product__details {
    height: 95%;
    overflow-y: scroll;
  }

  .product__image {
    grid-column: span 2;
  }
}